.h4ckerContainer { 
    position: fixed;
    width: 100%;
    height: 400px;
    bottom: 0px;
    background-color: black;
    color: white;
    border-top: 1px solid gray;
    z-index: 2000;
    overflow-y: scroll;
    font-family: monospace;
    font-size: 12px;
}

.h4ckerTopBlock {

}

.h4ckerHistoryBlock {
    white-space: pre;
}

.h4ckerTempBlock {
    white-space: pre;
}

.h4ckerCommandBlock {
    display: flex;
    flex-wrap: nowrap;
}

.h4ckerCommandIndicator {
    white-space: nowrap;
}

.h4ckerCommandInput {
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 12px;
    margin: 0px;
}

.h4ckerCommandInput:focus-visible {
    outline: none;
}

.busy {
    cursor: wait;
}