.h4ckerContainer { 
    position: fixed;
    width: 100%;
    min-height: 300px;
    bottom: 0px;
    background-color: black;
    border-top: 1px solid gray;
    z-index: 2000;
}

.h4ckerHistoryBlock {
    max-height: 265px;
    color: white;
}

.h4ckerCommandBlock {
    display: flex;
    flex-wrap: nowrap;
}

.h4ckerCommandIndicator {
    padding-right: 2px;
    color: white;
}

.h4ckerCommandInput {
    width: 100%;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
}

.h4ckerCommandInput:focus-visible {
    outline: none;
}